page-login {
    .outer-div {
        margin:0;
        width: 100% !important;
    }

    .container {
     margin-top : 50px;      
    }

    .app-name {
        text-align: center;
        // width: 100% !important;
        color: #2D5F8A;
        text-align: left;
        font-size: 17px;
        font-weight: bold;
    }

    .login-button {
        background-color: #2D5F8A;
        border-width: 0.9px;
        border-radius: 8.0px;
        border-color:#D2D7D3; 
        height: 45px;
    }

    .login-credentials-input {
        width: 100%;
        height: 45px;
        border-width: 0.9px;
        border-radius: 8.0px;
        border-color: #D2D7D3;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 17px;
        padding:.5em;
    }
}
