<ion-header>
  <ion-toolbar>
    <ion-buttons fill="clear" icon-only slot="start" (click)="showAlertOnBackClick()">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button style="color:#f4f4f4" (click)="showAlertOnBackClick()">
      <ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons> -->
    <ion-title style="color:white">Get Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input type="text" placeholder = "Contact Id" [(ngModel)]="contactHeader.ContactId"></ion-input>
  <ion-input type="text" placeholder = "Name" [(ngModel)]="contactHeader.ContactName"></ion-input>

  <ion-button shape="round" (click)="getContact()">Search</ion-button>

  <ion-item-group *ngFor="let model of UIModels" class="info-div">
    <div *ngFor="let conatct of model.contactHeaders">
      <ion-item no-lines>
        <ion-label class="label">Name </ion-label>
        <ion-label class="value">{{conatct.ContactName}}</ion-label>
      </ion-item>

      <ion-item no-lines>
        <ion-label class="label">Id </ion-label>
        <ion-label class="value">{{conatct.ContactId}}</ion-label>
      </ion-item>

      <ion-item no-lines>
        <ion-label class="label">Phone </ion-label>
        <ion-label class="value">{{conatct.Phone}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="label">Email </ion-label>
        <ion-label class="value">{{conatct.Email}}</ion-label>
      </ion-item>
    </div>
  </ion-item-group>

</ion-content>
