<ion-header>
  <ion-toolbar>
    <ion-buttons fill="clear" icon-only slot="start" (click)="goToHome()">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Add/Create Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input placeholder = "Name" [(ngModel)]="contactHeader.ContactName"></ion-input>
  <ion-input placeholder = "Phone" [(ngModel)]="contactHeader.Phone"></ion-input>
  <ion-input placeholder = "Email" [(ngModel)]="contactHeader.Email"></ion-input>

  <ion-button shape="round" class="button" (click)="createContact()">Create</ion-button>

</ion-content>
